node_modules/
dist/
build/
.DS_Store
*.log
debug.log
sd-debug.log
.env
coverage/
.vscode/
.idea/
# VS Code and system folders
.config/
.cursor/
extensions/
.husky/
# Ignore all dist folders inside extensions
extensions/**/dist/
# Ignore debug files
**/debug*.log
**/debug*.json 