node_modules/
dist/
build/
.DS_Store
*.log
.env
coverage/
.vscode/
.idea/
# VS Code and system folders
.config/
.cursor/
extensions/
.husky/
# Ignore all dist folders inside extensions
extensions/**/dist/ 